<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.howtocook_version2">
    <!-- DB 연결을 위한 인터넷 허용 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Camera, Gallery -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="stateAlwaysHidden">
        <activity android:name=".MyRecipeActivity"></activity>
        <activity android:name=".DanbeeActivity" />
        <activity android:name=".MyRecipeRegisterActivity" />
        <activity android:name=".MyRecipeListActivity" />
        <activity android:name=".FavoriteActivity" />
        <activity android:name=".FavoriteContentActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>